<!DOCTYPE html>
<html>
<head>
    <title>Login do Professor</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style_professor.css') }}">
</head>
<body>
    <div class="container">
        <h1>Login do Professor</h1>
        <form method="POST">
            <label for="matricula">Matrícula:</label>
            <input type="text" name="matricula" required>
            <label for="senha">Senha:</label>
            <input type="password" name="senha" required>
            <input type="submit" value="Entrar">
        </form>
    </div>
</body>
</html>
